*{
margin:0 auto;
box-sizing:border-box;
}
.rainday .containor{
	width:80%;
	margin:0 auto;
}
.rainday .row{
	display:flex;
	
}
.rainday .col{
	width:25%;
	padding:20px;
}
.rainday .ihp{
	background-color:white;
	text-align:center;
	box-shadow:0 0 10px grey;
	padding:20px;
	
}
.rainday .ihp i{
	color:blue;
	font-size:30px;
padding:15px;
	background-color:#524a4a7d;
	
	border-radius:50%;
}
.rainday .ihp h3{
	padding-top:20px;
}
.rainday .ihp p{
	padding:17px;
}